<div class="sidebar-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="#" id="menu-showDashboard">
          <i class="fas fa-tachometer-alt me-2"></i>
          Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" id="menu-showAllOrders">
          <i class="fas fa-clipboard-list me-2"></i>
          Órdenes
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" id="menu-showSales">
          <i class="fas fa-chart-line me-2"></i>
          Ventas
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" id="menu-showInventory">
          <i class="fas fa-boxes me-2"></i>
          Inventario
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" id="menu-showTechnicians">
          <i class="fas fa-users me-2"></i>
          Técnicos
        </a>
      </li>
    </ul>
    
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>Reportes</span>
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" href="#" id="menu-showDailyReport">
          <i class="fas fa-file-alt me-2"></i>
          Diario
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" id="menu-showMonthlyReport">
          <i class="fas fa-file-alt me-2"></i>
          Mensual
        </a>
      </li>
    </ul>
  </div>