<div class="sidebar-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="#" id="menu-showDashboard">
          <i class="fas fa-tachometer-alt me-2"></i>
          Inicio
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" id="menu-showAllOrders">
          <i class="fas fa-clipboard-list me-2"></i>
          Órdenes
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" id="menu-showSales">
          <i class="fas fa-chart-line me-2"></i>
          Ventas
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" id="menu-showInventory">
          <i class="fas fa-boxes me-2"></i>
          Inventario
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" id="menu-showTechnicians">
          <i class="fas fa-users me-2"></i>
          Técnicos
        </a>
      </li>
    </ul>
  </div>